# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,68.11,72,20,24.16,few clouds
1,1,Rochegda,RU,62.8000,43.2500,34.81,89,91,9.57,overcast clouds
2,2,Urucara,BR,-2.5364,-57.7600,95.16,41,87,4.12,overcast clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,70.18,85,1,3.00,clear sky
4,4,Arauca,CO,7.0847,-70.7591,85.96,66,20,3.44,few clouds
5,5,Khash,IR,28.2211,61.2158,68.13,18,0,2.06,clear sky
6,6,Ushuaia,AR,-54.8000,-68.3000,46.06,61,75,5.75,broken clouds
7,7,Longyearbyen,SJ,78.2186,15.6401,22.84,63,75,9.22,broken clouds
8,8,Pyshma,RU,56.9523,63.2513,38.19,66,100,17.92,overcast clouds
9,9,Punta Arenas,CL,-53.1500,-70.9167,48.22,71,75,24.16,light intensity shower rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like on your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like on your trip? "))

What is the minimum temperature you would like on your trip? 70
What is the maximum temperature you would like on your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Port Alfred,ZA,-33.5906,26.8910,70.18,85,1,3.00,clear sky
12,12,Souillac,MU,-20.5167,57.5167,73.78,73,75,9.22,broken clouds
13,13,Matay,EG,28.4190,30.7792,74.37,40,1,11.99,clear sky
24,24,Sao Filipe,CV,14.8961,-24.4956,78.53,74,17,7.00,few clouds
29,29,Lebowakgomo,ZA,-24.2000,29.5000,72.50,50,99,6.15,overcast clouds
30,30,Ajdabiya,LY,30.7554,20.2263,72.19,72,8,17.36,clear sky
31,31,Dingle,PH,10.9995,122.6711,76.44,91,95,4.23,overcast clouds
37,37,Quatre Cocos,MU,-20.2078,57.7625,73.51,72,9,8.75,clear sky
39,39,Hambantota,LK,6.1241,81.1185,79.09,81,70,14.56,broken clouds
40,40,Mahe,IN,11.7000,75.5333,76.71,83,11,4.50,few clouds

In [5]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Port Alfred,ZA,-33.5906,26.8910,70.18,85,1,3.00,clear sky
12,12,Souillac,MU,-20.5167,57.5167,73.78,73,75,9.22,broken clouds
13,13,Matay,EG,28.4190,30.7792,74.37,40,1,11.99,clear sky
24,24,Sao Filipe,CV,14.8961,-24.4956,78.53,74,17,7.00,few clouds
29,29,Lebowakgomo,ZA,-24.2000,29.5000,72.50,50,99,6.15,overcast clouds
30,30,Ajdabiya,LY,30.7554,20.2263,72.19,72,8,17.36,clear sky
31,31,Dingle,PH,10.9995,122.6711,76.44,91,95,4.23,overcast clouds
37,37,Quatre Cocos,MU,-20.2078,57.7625,73.51,72,9,8.75,clear sky
39,39,Hambantota,LK,6.1241,81.1185,79.09,81,70,14.56,broken clouds
40,40,Mahe,IN,11.7000,75.5333,76.71,83,11,4.50,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat      Lng
3   Port Alfred      ZA     70.18           clear sky -33.5906  26.8910
12     Souillac      MU     73.78       broken clouds -20.5167  57.5167
13        Matay      EG     74.37           clear sky  28.4190  30.7792
24   Sao Filipe      CV     78.53          few clouds  14.8961 -24.4956
29  Lebowakgomo      ZA     72.50     overcast clouds -24.2000  29.5000

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Port Alfred,ZA,70.18,clear sky,-33.5906,26.8910,
12,Souillac,MU,73.78,broken clouds,-20.5167,57.5167,
13,Matay,EG,74.37,clear sky,28.4190,30.7792,
24,Sao Filipe,CV,78.53,few clouds,14.8961,-24.4956,
29,Lebowakgomo,ZA,72.50,overcast clouds,-24.2000,29.5000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# Display sample data
len(hotel_df)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Port Alfred,ZA,70.18,clear sky,-33.5906,26.8910,The Halyards Hotel & Spa
12,Souillac,MU,73.78,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
13,Matay,EG,74.37,clear sky,28.4190,30.7792,Nag Aespen
24,Sao Filipe,CV,78.53,few clouds,14.8961,-24.4956,Hotel Xaguate
29,Lebowakgomo,ZA,72.50,overcast clouds,-24.2000,29.5000,Chuene Resort

In [16]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [17]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
len(clean_hotel_df)
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Port Alfred,ZA,70.18,clear sky,-33.5906,26.8910,The Halyards Hotel & Spa
12,Souillac,MU,73.78,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
13,Matay,EG,74.37,clear sky,28.4190,30.7792,Nag Aespen
24,Sao Filipe,CV,78.53,few clouds,14.8961,-24.4956,Hotel Xaguate
29,Lebowakgomo,ZA,72.50,overcast clouds,-24.2000,29.5000,Chuene Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [ ]:
# Set the file name.
output_data_file = # YOUR CODE HERE

# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [ ]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [ ]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [ ]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [ ]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

# Display the figure containing the map
# YOUR CODE HERE